---
import MainLayout from "../layouts/MainLayout.astro";
const { title } = Astro.props;
---

<MainLayout title="Main Page">
  <h1>Main Page</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium ad fugit iste assumenda rerum commodi obcaecati! Quibusdam eaque nostrum eius dolor consectetur ipsa! Numquam, unde ea? Enim ipsum tempore voluptatum.</p>
</MainLayout>
