---
import "../styles/foundation.css";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="grid-container grid-x">
    <header class="cell callout alert">
      <h1>Header</h1>
    </header>
    <nav class="cell callout secondary">
      <a href="grid">grid</a>
      <a href="fluid">fluid</a>
      <a href="#">service</a>
    </nav>
    <main class="cell grid-x">
      <section class="cell medium-8 callout warning">Section<br />(main content)
        <slot />
      </section>
      <aside class="cell medium-4 callout primary">Aside (related content)</aside>
    </main>
    <footer class="cell callout success">Copyright 2022</footer>
    <script is:inline src="/public/scripts/vendor/jquery.js"></script>
    <script is:inline src="/public/scripts/vendor/foundation.js"></script>
    <script is:inline src="/public/scripts/vendor/what-input.js"></script>
    <script is:inline src="/public/scripts/app.js"></script>
  </body>
</html>
