<nav class="cell grid-x callout secondary">
  <div class="cell medium-10">
    <a href="#">home</a>
    <a href="#">products</a>
    <a href="#">service</a>
  </div>
  <div class="cell auto text-right">
    <a href="#">contact</a>
  </div>
</nav>
